:root {
  --background-color: rgb(42, 68, 78);
  --secondary-bg-color: rgb(21, 48, 48);
  --tertiary-bg-color: rgb(11, 26, 26);
  --primary-text-color: rgb(221, 245, 255);
  --1-priority-color: rgb(146, 56, 20);
  --2-priority-color: rgb(146, 102, 20);
  --3-priority-color: rgb(112, 146, 20);
  --4-priority-color: rgb(14, 112, 83);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--tertiary-bg-color);
  color: var(--primary-text-color);

  position: relative;
}


#project-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.4rem;

  font-size: 28px;

  background-color: var(--secondary-bg-color);
}

#project-list-header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.2rem;
  text-decoration: underline;
}

#project-list-container {
  position: relative;

  display: flex;
  flex-direction: column;
}

#project-list {
  padding: 1.4rem;

  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 1em;

  overflow-y: auto;
  scrollbar-width: none;
}

#project-list::-webkit-scrollbar {
  display: none;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  border: 1px solid var(--primary-text-color);
  border-radius: 0.4em;

  cursor: pointer;
}

.active-project {
  border-width: 4px;

  font-weight: bold;
  background-color: rgba(221, 245, 255, 0.12);
}

#task-list {
  padding: 1.4rem;

  font-size: 18px;

  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  gap: 0.8em;

  overflow-y: auto;
  scrollbar-width: none;
}

#task-list::-webkit-scrollbar {
  display: none;
}

.task-item {
  display: grid;
  grid-template-areas:
  "task-title . . task-date task-check option-panel"
  "task-desc . . . . task-prio";

  gap: 0.4em;
  padding: 1.8rem;

  border: 1px solid var(--primary-text-color);
  border-radius: 0.4em;

  position: relative;
}

.task-item.complete {
  opacity: 0.36;
}

.task-item[data-prio="1"] {
  background-color: var(--1-priority-color);
}

.task-item[data-prio="2"] {
  background-color: var(--2-priority-color);
}

.task-item[data-prio="3"] {
  background-color: var(--3-priority-color);
}

.task-item[data-prio="4"] {
  background-color: var(--4-priority-color);
}

.task-item * {
  justify-self: center;
  align-self: center;
}

.task-title {
  grid-area: task-title;

  justify-self: flex-start;
}

.task-desc {
  grid-area: task-desc;

  justify-self: flex-start;

  position: absolute;
  top: 0px;

  color: var(--tertiary-bg-color);
}

.task-date {
  grid-area: task-date;

  justify-self: flex-end;
}

.task-prio {
  grid-area: task-prio;

  box-sizing: content-box;
  position: relative;

  border: 1px solid var(--primary-text-color);
  border-radius: 0.4em;
}

.task-prio select {
  appearance: none;

  width: 2.6em;
  height: 1.8em;

  padding: 0.1em 0.2em;

  border: none;

  background-color: inherit;

  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
}

.task-prio select:focus {
  outline: none;
}

/* need to figure out why these psuedo-elements won't show up */

.task-prio::before {
  content: 'priority:';
  display: block;
  position: absolute;

  color: var(--primary-text-color);

  top: 10%;
  left: -180%;
}

.task-prio::after {
  content: '\25BC';
  display: block;
  position: absolute;

  color: var(--primary-text-color);

  top: 46%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
}

.task-prio option {
  background-color: var(--background-color);

  font-weight: bold;
}

.task-check {
  grid-area: task-check;

  appearance: none;

  width: 1.6em;
  height: 1.6em;

  border: 2px solid var(--primary-text-color);
  border-radius: 50%;

  justify-self: flex-start;

  position: relative;
  cursor: pointer;
}

.task-check:checked::before {
  content: '';
  display: block;

  width: 0.6em;
  height: 0.6em;

  border-radius: 50%;
  background-color: var(--primary-text-color);

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.option-panel {
  grid-area: option-panel;

  display: flex;
  justify-content: space-between;
  gap: 0.4em;
}

.option-panel button,
#add-project-container button {
  width: 2em;
  height: 2em;

  background: none;

  padding: 1em;

  /* border: 1px solid var(--primary-text-color); */
  border: none;

  cursor: pointer;
}

#add-project-container {

  width: 100%;
  display: flex;
  justify-content: center;

  background-color: inherit;

  padding: 1em 0 1em 0;
}

button:hover::after {
  position: absolute;

  top: 140%;
  left: 50%;

  transform: translateX(-50%);

  font-weight: bold;

  color: var(--primary-text-color);
  background-color: var(--background-color);

  padding: 0.4em 0.8em;

  border: 1px solid var(--primary-text-color);
  border-radius: 0.4em;
  box-shadow: 1 0.1em 0.2em var(--secondary-bg-color);

  z-index: 999;
}

button#add-task-btn,
button#add-project-btn {
  background: url('./assets/add-icon.png');
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
}

button#add-project-btn:hover::after {
  content: 'Add Project';

  top: -180%;
}

button.edit-btn {
  background: url('./assets/edit-icon.png');
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
}

button.delete-btn {
  background: url('./assets/delete-icon.png');
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
}

button#add-task-btn:hover::after {
  content: 'Add Task';
}

button.edit-btn:hover::after {
  content: 'Edit';
}

button.delete-btn:hover::after {
  content: 'Delete';
}

.hidden {
  display: none;
}

.task-form {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 600px;
  height: 100px;

  transform: translate(-50%, -50%);

  background-color: var(--primary-text-color);
  color: var(--tertiary-bg-color);

  border: 1px solid var(--tertiary-bg-color);
  border-radius: 0.4em;

  padding: 1.2em;

  display: grid;
  grid-template-columns: repeat(2, 6fr) 1fr;
  gap: 1.4em;
}

.task-form label,
.project-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title-label {
  grid-column: 1 / 2;
}

.task-desc-label {
  grid-column: 1 / 2;
}

.task-date-label {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.task-form label *,
.project-form label * {
  margin-left: 1em;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--tertiary-bg-color);
}

.task-form label input[type="text"] {
  width: 160px;
}

.task-form .submit-btn,
.task-form .cancel-btn {
  width: 2.4em;
  height: 2em;

  justify-self: center;
  align-self: center;

  grid-column: 3 / 4;

  cursor: pointer;
}

.project-form .submit-btn,
.project-form .cancel-btn {
  width: 2.4em;
  height: 2em;

  justify-self: center;
  align-self: center;

  grid-column: 3 / 4;

  cursor: pointer;
}

.task-form .cancel-btn,
.project-form .cancel-btn {
  grid-row: 1 / 2;

  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-form {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: var(--primary-text-color);
  color: var(--tertiary-bg-color);

  border: 1px solid var(--tertiary-bg-color);
  border-radius: 0.4em;

  padding: 1.2em;

  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 1.4em;
}
